body{
    margin: 0;
}

#header-img{
    width: 400px;
    height: 200px;
}

.Header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 450px;
}

h1{
    font-size: 48px;
    font-weight: 550;
    color: #f9faf8;
}

#top-txt,.links{
    font-size: 18px;
    color: #e5e7eb;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}

.logo-and-links{
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.links{
    display: flex;
    gap: 24px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.top-sign-up{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 100px;
    justify-content: space-around;
}

.sign-up-button{
    padding: .5em 4em;
    background-color: #3882f6;
    border: none;
    border-radius: 1em;
    font-size: 16px;
    color: #e5e7eb;
    font-weight: 800;
}

.info{
    height: 400px;
}

#info-title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-img-and-txt{
    display: flex;
    flex-direction: column;
}

.info-images-container,.info-txt{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.info-image{
    width: 150px;
    height: 200px;
    border-radius: 1em;
    border: .3em solid #3882f6;
}

.info-p{
    width: 150px;
}